.skill-entry-1 {
    border-color: #3DDC84;
    fill: #3DDC84;
  }

.skill-entry-2 {
    border-color: #766DB2;
    fill: #766DB2;
}
.skill-entry-3 {
    border-color: #f4447c;
    fill: #f4447c;
}
.skill-entry-4 {
    border-color: #007acc;
    fill: #007acc;
}
.skill-entry-5 {
    border-color: #3c873a;
    fill: #3c873a;
}
.skill-entry-6 {
    border-color: #e2432a;
    fill: #e2432a;
}